@{
}

@model Mission6.Models.Tracker

<h1>Get to Know Joel</h1>

<h3>Helpful Links to Get to know Joe Better!</h3>
<ul>
    <li><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></li>
    <br/>
    <li><a href="https://baconsale.com/">Baconsale</a></li>
    <br/>
    <li><a href="https://baconsale.com/"><img src="~/img/BaconsaleKate.jpg" height="200"></a></li>
</ul>
