@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <img src="~/img/JoelHiltonHeadshot.jpg" height="500" />
</div>

<br/>

<div>
    <a asp-controller="Home" asp-action="MovieTracker" class="btn btn-dark">Add a Movie to the Database</a>
    <br/><br/>
</div>

<div>
    <a asp-controller="Home" asp-action="MovieList" class="btn btn-dark">View Movie List</a>
</div>