@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Mission6.Models
@model Mission6.Models.Tracker

<h1>Movie Tracker</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <input type="hidden" asp-for="MovieID"/>
        <br/>
    </div>
    
    <div>
        <label asp-for="Category">Category:</label>
        <select asp-for="CategoryId" class="form-control">

        <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
    </div>

    <div>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" class="form-control"/>
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" class="form-control"/>
    </div>

    <div>
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating" class="form-control">
            <option value="">-- Select a Rating --</option>
            <option value="g">G</option>
            <option value="pg">PG</option>
            <option value="pg-13">PG-13</option>
            <option value="r">R</option>
        </select>
    </div>

    <div>
        <label asp-for="Edited">Edited:</label>
        <select asp-for="Edited" class="form-control">
            <option value="">-- Select an Option --</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>

    <div>
        <label asp-for="LentTo">Lent to:</label>
        <input asp-for="LentTo" class="form-control"/>
    </div>

    <div>
        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" class="form-control"/>
    </div>

    <br/>
    <div>
        <label asp-for="CopiedToPlex">Coped To Plex:</label>
        <select asp-for="CopiedToPlex" class="form-control">
            <option value="">-- Select an Option --</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit Movie</button>
    
    <div asp-validation-summary="All"></div>
</form>

<!-- Enable Client-Side Validation -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}